adjustText==1.4.0
anndata==0.12.2
array-api-compat==1.15.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decoupler==2.1.1
docrep==0.3.2
donfig==0.8.1.post1
fonttools==4.63.0
google-crc32c==1.8.0
h5py==3.16.0
harmonypy==0.0.10
idna==3.19
joblib==1.5.3
kiwisolver==1.5.1
legacy-api-wrap==1.5
legendkit==0.5.2
llvmlite==0.49.0
marsilea==0.8.1
matplotlib==3.11.1
natsort==8.4.0
networkx==3.5
numba==0.67.0
numcodecs==0.16.5
numpy==2.4.6
packaging==26.3
pandas==3.0.5
patsy==1.0.3
pillow==12.3.0
platformdirs==4.11.5
pyarrow==21.0.0
pynndescent==0.6.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
scanpy==1.11.4
scikit-learn==1.7.1
scipy==1.15.3
seaborn==0.13.2
session-info2==0.4.2
six==1.17.0
statsmodels==0.14.5
threadpoolctl==3.6.0
tqdm==4.70.0
typing_extensions==4.16.0
tzdata==2026.3
umap-learn==0.5.9.post2
urllib3==2.7.0
zarr==3.3.0
